h1{
    text-align: center;
}
img{
     display: block; margin: 0 auto; max-width: 100%; 
    }

h1{
    color:green
}
h2{
    color:blue
}
h3{
    color:blueviolet
}
body{
    background-color: rgb(238, 208, 172);
}